{% extends 'base.html' %}

{% block content %}

<div class="container my-5">

    <div class="row align-items-center">

        
        <div class="col-md-6">

            <h2 style="color: rgb(171, 102, 171); font-weight: xx-large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 50px;margin-bottom: 30px;">
                ABOUT ETHIO ACADAMY
            </h2>

            <p style="font-size: 18px; line-height: 1.7 ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Ethio Academy has been shaping young minds for over 
                <strong>15 years</strong>. Our mission is to provide quality 
                education in a safe and inspiring environment.
            </p>

            <p style="font-size: 18px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                Thousands of students have passed through our academy, 
                becoming successful individuals in different fields.
            </p>

            <p style="font-size: 18px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                We believe every child has the potential to grow, learn, 
                and lead the future.
            </p>

        </div>

        
        <div class="col-md-6">

            <div class="row">

                
                <div class="col-6 mb-3">
                    <div class="card shadow h-100">
                        <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             class="card-img-top" height="120">
                        <div class="card-body text-center" style="background-color: #c28bb8;">
                            <h6>📚 Library</h6>
                        </div>
                    </div>
                </div>

                
                <div class="col-6 mb-3">
                    <div class="card shadow h-100">
                        <img src="https://media.istockphoto.com/id/2205473364/photo/classroom-at-elementary-school.webp?a=1&b=1&s=612x612&w=0&k=20&c=X_gQryojNZVZgetVM47lcfPUSkCyRa-Yqp0SSZwVATo="
                             class="card-img-top" height="120">
                        <div class="card-body text-center" style="background-color:#c28bb8">
                            <h6>🏫 Classroom</h6>
                        </div>
                    </div>
                </div>

                
                <div class="col-6 mb-3">
                    <div class="card shadow h-100">
                        <img src="https://www.shutterstock.com/image-photo/students-using-microscopes-school-science-260nw-1297786327.jpg"
                             class="card-img-top" height="120">
                        <div class="card-body text-center" style="background-color: #c28bb8;">
                            <h6>🧪 Laboratory</h6>
                        </div>
                    </div>
                </div>

                
                <div class="col-6 mb-3">
                    <div class="card shadow h-100">
                        <img src="https://images.pexels.com/photos/35128428/pexels-photo-35128428.jpeg?cs=srgb&dl=pexels-gsregvrd-2158023856-35128428.jpg&fm=jpg"
                             class="card-img-top" height="120">
                        <div class="card-body text-center" style="background-color: #c28bb8;">
                            <h6>⚽ Playground</h6>
                        </div>
                    </div>
                </div>

                
                <div class="col-6 mb-3 ">
                    <div class="card shadow h-100">
                        <img src="https://i.pinimg.com/originals/4c/29/91/4c2991a91cec13346bf5c6afaa335409.jpg"
                             class="card-img-top" height="120">
                        <div class="card-body text-center " style="background-color: #c28bb8;">
                            <h6>🚻 Restroom</h6>
                        </div>
                    </div>
                </div>

                
                <div class="col-6 mb-3">
                    <div class="card shadow h-100">
                        <img src="https://tse1.mm.bing.net/th/id/OIP.ai3nroHEKGh2v9u2Q0eWMgAAAA?rs=1&pid=ImgDetMain&o=7&rm=3"
                             class="card-img-top" height="120">
                        <div class="card-body text-center" style="background-color: #c28bb8;">
                            <h6>🍽️ Lunch Area</h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


<style>
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
</style>

{% endblock %}