{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow p-4" style="margin-top:60px; border-radius: 15px;">
            <h3 class="text-center mb-3" style="color: purple;">Login to Ethio Academy</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn w-100" type="submit" style="background: purple; color: white;">
                    Login
                </button>
            </form>
            <div class="text-center mt-3">
                <a href="/" style="color: purple; text-decoration: none;">⬅ Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}